@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@300&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Poppins:wght@600&family=Raleway:wght@300&family=Roboto+Mono:wght@300&display=swap');
/* font-family: 'Jost', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace; */

.main{
    margin: 0;
    padding: 0;
}
.marquee{
    color: white;
    font-family: apple-system,BlinkMacSystemFont,Segoe UI,Inter,Open Sans,Bebas Neue,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,serif,Arial,sans-serif;
    font-weight: 600;
    font-size: 13px;
    margin-top: 2px;
    direction:left;
}

.floating{
    background-color: rgb(14, 48, 81);
    width: 100%;
    height: 27px;
}

.header{
    background-color: rgb(50, 50, 49);
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;


    
}
.left{
    display: flex;
    justify-content: left;
    padding: 1px;
    width: 30%;
    margin-left: 15px;
}

.one img{
    width: 100px;
    height: 54px;
    margin: 0;
    margin-left: 58px;
}
.two img{
    width: 180%;
    
    margin-left: 17px;
    margin-top: 1px;
}
.three img{
    width: 25%;
    margin-left: 67px;
    margin-top: 12px;
}
.four img{
    width: 1070%;
    margin-left: -100px;
    margin-top: 12px;
}
.right{
   float: right;
   display: flex; 
   flex-wrap: wr;
   justify-content: end;
   width: 30%;
   margin-left: 450px;
   margin-top: 17px;
}
.right img{
    width: 1000%;
    height: 53px;
    margin-left: 8px;
    padding: 0;
    margin-top: -15px;
    
}
/* .imaages:hover{
    background-color: black;
    
} */

 /* .left a:hover{
    background-color: black;
    width: 20%;
    height: 30px;
} 

 .left img:hover{
    background-color: rgb(0, 0, 0);
    background-size: 90px;
    
   
}  */
.sec-head{
    position: sticky;
    top: 0;
}
#search-icon{
    margin-left: 40px;
    display: inline;
}
.search-bar input{
    color: black;
    margin-right: 20px;
}
.store a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.00938em;
    padding-top: 10px;
    margin-right: 10px;
    letter-spacing: 2px;
    font-size: 15px;
}
.store span{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-left: 9px;
    font-size: 13px;
}
.contact span{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-left: 9px;
    font-size: 13px;
}
.login span{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-left: 9px;
    font-size: 13px;
}
.contact a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.00938em;
    padding-top: 10px;
    margin-right: 10px;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 15px;
   
}
.login a{
    text-decoration: none;
    color: white;
    font-family: Cabin;
    letter-spacing: 0.00938em;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 15px;
}
.fav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    
    letter-spacing: 0.00938em;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 15px;
}
.cart a{
    text-decoration: none;
    color: white;
    
    letter-spacing: 0.00938em;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 15px;
}
span:hover{
    color: yellow;
}
.vl{
    border-left: 1px solid rgb(114, 114, 114);
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
.sec-head{
    width: 100%;
    height: 90px;
    background-color: rgb(255, 255, 255);
}
.sec-head{
    display: flex;
}
.sec-left{
    width: 22%;
}
.allen-logo img{
    width: 55%;
    margin-top: 13px;
    margin-left: 60px;
}
.sec-center{
    display: flex;
    gap: 17px;
    margin-top: 36px;
}
.sec-center a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: black;
    
}
.sec-center a:hover{
    font-weight: 900;
    
    border-bottom: 2px solid red;
}
.sec-center span{
    color: rgb(176, 5, 5);
}
.flex{
    width: 100%;
}
.sec-right{
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
}
#search-icon{
    margin-left: 5px;
}
.sec-right input{
    border: none;
    /* border-bottom: 2px solid black; */
    /* padding: 4px 27px; */
}
.search-bar{
    border-bottom: 2px solid black;
}
.sec-right a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-left: 80px;
    color: rgb(4, 43, 77);
    border: 1px solid rgb(255, 202, 12);
    background-color: rgb(255, 202, 12);
    border-radius: 30px;
    padding: 10px 45px;
}
.banner{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/banner.jpg");
    background-size: cover;
    padding-top:10px;
    width: 100%;
    height: 700px;
}
.logoos img{
    width: 6%;
    margin-left: 1410px;
    margin-bottom: 0 !important;
}
.sale-banner{
    margin-left: 950px;
    margin-top: 0px !important;
  
    width: 29%;
    
   
    
}
.sale-text{
    margin-bottom: 0px !important;
    text-align: center;
    font-size: 70px;
    font-family: 'Jost', sans-serif;
    letter-spacing: 6px;
    font-weight: 600;
    color: white;
}
.upto{
    /* margin-top: 0px !important; */
   
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    letter-spacing: 6px;
    margin-top:-10px ;
    font-weight: 600;
    color: white;
    text-align: center;
}
.sale-banner h1{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    text-align: center;
    font-size: 90px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 6px;
    font-weight: 600;
    color: white;
}
.style{

    margin-top: 0px !important;
    text-align: center;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    font-weight: 200;
    color: white;
}
.shop-btn{
   
    text-align: center;
    padding-top: 25px;
    
}
.shop-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    background-color: transparent;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 16px 60px;
    letter-spacing: 3px;
    border-radius: 3px;
    margin-top: 20px;
}
.shop-btn a:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}
.diff-wears{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    padding-top: 60px;
    justify-content: center;
    
}
.diff-wears img{
    margin-left: 20PX;
}
.names{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1px;
    padding-top: 20px;
}
.diff-wears P{
    font-family:  Helvetica Neue,Helvetica,Arial,sans-serif;
    color: rgb(4, 43, 77);
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 100PX;
}

/* .saless{
    margin-left: 99px;
    font-family:  Helvetica Neue,Helvetica,Arial,sans-serif;
}
.man{
    margin-left: 200px;
}
.woman{
    margin-left: 176px;
}
.boysss{
    margin-left: 169px;
}
.girlsss{
    margin-left: 178px;
}
.neww{
    margin-left: 135px; */
/* } */
.new-arvls p{
    margin-left: 80px;
}
.app-download{
    background-color: rgb(249, 231, 159);
    height: 250px;
    width: 100%;
}
.available h2{
    color: #0e3051;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Inter,Open Sans,Bebas Neue,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,serif,Arial,sans-serif;
    font-size: 30px;
}
.app-download{
    display: flex;
}
.app-download p{
    font-family:  Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    color: #505051;
}
.usecode{
    display: flex;
}
.usecode p{
    font-size: 14px;
    color: #505051;
    
}
.code{
    width: 120px;
    
}
.code p{
    border: 2px solid black;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Inter,Open Sans,Bebas Neue,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,serif,Arial,sans-serif;
    letter-spacing: 2px;
    border-style: dashed;
    padding: 5px 12px;
    margin-top: 0.5px;
    font-weight: 700;
    margin-left: 10px;
    background-color: rgb(255, 225, 0);
    border-radius: 3px;
}
.code, .apple, .playstore{
    margin-left: 10px;
}
.available h2{
    padding-top: 31px;
}
.available{
    margin-left: 124px;
}
.qr img{
    width: 38%;
    margin-top: 60px;
    margin-left: 90px;
}
.qr p{
    font-size: 9px;
    margin-left: 80px;
}
.logo{
    width: 20%;
}
.logo img{
    width: 100%;
    margin-top: 22px;
    margin-left: 80px;
}
.fresh-arraivals{
    text-align: center;
}
.fresh-arraivals h1{
    text-align: center;
    color: #0e3051;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Inter,Open Sans,Bebas Neue,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,serif,Arial,sans-serif;
    letter-spacing: 2px;
}
.fresh-arraivals img{
    margin-left: 15px;
}
